extends layout

block content
  .user-selection
    h2 SELECT A USER
    button.user-select-btn(data-user='Vydu') Vydu
    button.user-select-btn(data-user='Vydurya') Vydurya

  script(src="/script.js")
